<!-- create an account -->
<div class="modal fade" id="reset_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button> -->
			<div class="modal-body body-create">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<p class="sub-ttl">Please choose a new password.</p>
					<p class="sub-ttl error-message" *ngFor="let msg of errors">{{ msg }}</p>
				</div>

				<form class="login-form" name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="submit()" novalidate>
					<div class="step-1">
						<div class="form-group" [ngClass]="validate('password')">
							<input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" aria-describedby="pass" />
							<div class="form-control-feedback" *ngIf="formErrors.password">
								<p>{{ formErrors.password }}</p>
							</div>
						</div>

						<div class="form-group" [ngClass]="validate('cpassword')">
							<input class="form-control" type="password" name="cpassword" formControlName="cpassword" placeholder="Confirm New Password" aria-describedby="cpass" />
							<div class="form-control-feedback" *ngIf="formErrors.cpassword">
								<p>{{ formErrors.cpassword }}</p>
							</div>
						</div>

						<div class="form-margin"></div>
						<div class="form-group">
							<button type="submit" class="btn btn-success" [disabled]="!resetPasswordForm.valid || loading">{{ submitBtnText }}</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<p class="foot-txt">You are not a member yet?</p>
				<button type="button" class="btn btn-grey" (click)="openSignup()">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="reset_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button> -->
			<div class="modal-body body-create">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<!-- <p class="sub-ttl">and write a text here</p> -->
					<!-- <p class="sub-ttl error-message">Your password is too weak</p> -->
				</div>
				<form class="login-form">
					<div class="step-2">
						<div class="form-group">
							<p class="email-field">Your password was reset successfully!</p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-grey" (click)="openLogin()">Got to Log In</button>
			</div>
		</div>
	</div>
</div>