Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Access-Control-Allow-Origin, Access-Control-Allow-Headers, Access-Control-Allow-Methods, Content-Type, Authorization"