<!-- Modal -->
<div class="modal fade" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<p class="sub-ttl">Please enter your email to send you password reset</p>
					<p class="sub-ttl error-message">The email is incorrect!</p>
				</div>
				<form class="login-form">
					<div class="form-group">
						<input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Email address">
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-success">Reset Password</button>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<p class="foot-txt">You are not a member yet?</p>
				<button type="button" class="btn btn-grey">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<!-- create an account -->
<div class="modal fade" id="reset_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body body-create">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<p class="sub-ttl">Please enter a new password</p>
					<!-- <p class="sub-ttl error-message">Your password is too weak</p> -->
					<p class="sub-ttl error-message">Please fill the required fields</p>
				</div>
				<form class="login-form">
					<div class="step-1">
						<div class="form-group">
							<input type="password" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="New password">
						</div>
						<div class="form-group has-danger">
							<input type="password" class="form-control" id="password" aria-describedby="pass" placeholder="New password confirmation">
						</div>
						<div class="form-margin"></div>
						<div class="form-group">
							<button type="button" class="btn btn-success">Update password</button>
						</div>

					</div>

				</form>
			</div>
			<div class="modal-footer">
				<p class="foot-txt">You are not a member yet?</p>
				<button type="button" class="btn btn-grey">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="reset_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body body-create">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<!-- <p class="sub-ttl">and write a text here</p> -->
					<!-- <p class="sub-ttl error-message">Your password is too weak</p> -->
				</div>
				<form class="login-form">
					<div class="step-2">
						<div class="form-group">
							<p class="email-field">Your password was reset successfully!</p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-grey">Got to Log In</button>
			</div>
		</div>
	</div>
</div>