<!-- Modal -->
<div class="modal fade" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog sign-up-style" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="top-layer">
					<a href="#" class="logo-wrap">
						<img src="./assets/image/main-logo.png" alt="">
					</a>
					<h4 class="title">Forgot Password</h4>
					<p class="sub-ttl">Please enter your email to request password reset.</p>
					<p class="sub-ttl error-message" *ngFor="let msg of errors">{{ msg }}</p>
				</div>
				<form class="login-form" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" novalidate>

					<div class="form-group" [ngClass]="validate('email')">
						<input class="form-control" type="email" name="email" formControlName="email" placeholder="Email address" aria-describedby="emailHelp" />
						<div class="form-control-feedback" *ngIf="formErrors.email">
							<p>{{ formErrors.email }}</p>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success" [disabled]="!forgotPasswordForm.valid || loading">{{ submitBtnText }}</button>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<p class="foot-txt">You are not a member yet?</p>
				<button type="button" class="btn btn-grey" (click)="openSignup()">Sign Up</button>
			</div>
		</div>
	</div>
</div>