<div class="main-wrapper login-layer">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUp">
    Login
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAccount1">
    Register
  </button>
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createAccount2">
    Launch createAccount step2
  </button> -->
</div>
<!-- <footer class="footer"></footer> -->

<app-login></app-login>

<app-signup></app-signup>