<!-- Modal -->
<div class="modal fade signUpStep" id="signUpStep5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
 data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog sign-up-step" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="title-layer">
					<h3 class="step-ttl">Select your preferred
						<span>travel styles</span>
					</h3>
					<div class="step-info">
						Step 5
						<span>of {{ this.signupSteps }}</span>
					</div>
				</div>

				<div class="search-block-wrap">
					<div class="search-block">
						<a class="search-btn" href="#">
							<i class="fa fa-search"></i>
						</a>
						<input type="text" name="searchQuery" [(ngModel)]="searchQuery" placeholder="Travel style..." (input)="search()" />
					</div>
				</div>

				<div class="check-block-wrap" id="select_styles">
					<div *ngFor="let style of styles">
						<div class="check-block" [style.background-image]="'url('+ getCoverImage(style.cover_image) +')'" [class.checked-block]="selected.indexOf(style.id)>=0"
						 (click)="select(style.id)">
							<div class="check-ttl">
								<h4>{{ style.name }} </h4>
							</div>
						</div>
					</div>

					<div class="col-md-12" style="height: 50px; width: 100%; text-align:center">
							<img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-grey" [disabled]="5 - this.selected.length || loading" (click)="continueStep5()">{{ continueBtnText }}</button>
				<p class="sub-info">(Next Step: Favorite Activities)</p>
			</div>
		</div>
	</div>
</div>