<aside class="sidebar">

	<div class="post-block post-side-tabs">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#global" role="tab">Global</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#following" role="tab">Following</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="global" role="tabpanel">
				<div class="side-tab-inner mCustomScrollbar">
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Ilyas Zahir Hitima</a>
								shared a
								<a class="in-side-link link-thin" href="#">Trip Plan</a>
							</div>
							<div class="side-pane-date">5 min ago</div>
						</div>
					</div>
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Zahir</a>
								is now following
								<a class="in-side-link link-thin" href="#">New York</a>
							</div>
							<div class="side-pane-date">6 min ago</div>
						</div>
					</div>
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Mara Eahir</a>
								add a photo to
								<a class="in-side-link link-thin" href="#">Paris</a>
							</div>
							<div class="side-pane-date">8 min ago</div>
						</div>
					</div>
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Ilyas Zahir</a>
								commented in
								<a class="in-side-link link-thin" href="#">United States</a>
							</div>
							<div class="side-pane-date">12 min ago</div>
						</div>
					</div>
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Suzanne</a>
								is now following
								<a class="in-side-link link-thin" href="#">Oujda</a>
							</div>
							<div class="side-pane-date">16 min ago</div>
						</div>
					</div>
					<div class="side-pane-row">
						<div class="side-pane-avatar-wrap">
							<img src="http://placehold.it/45x45" alt="">
						</div>
						<div class="side-pane-txt">
							<div class="side-pane-post-ttl">
								<a class="in-side-link" href="#">Zahir</a>
								is now following
								<a class="in-side-link link-thin" href="#">New York</a>
							</div>
							<div class="side-pane-date">6 min ago</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="following" role="tabpanel">following tab</div>
		</div>
	</div>

	<div class="post-block post-side-block">
		<div class="post-side-top">
			<h3 class="side-ttl">Popular destinations</h3>
			<div class="side-right-control">
				<a href="#" class="see-more-link">See more</a>
			</div>
		</div>
		<div class="post-side-inner">
			<div class="side-dest-block-wrap">
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Eiffel tower</h4>
						<p>Paris, France</p>
					</div>
				</div>
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Seine River</h4>
						<p>France</p>
					</div>
				</div>
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Walt Disney World</h4>
						<p>Florida, United States</p>
					</div>
				</div>
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Fushimi Inari-taisha</h4>
						<p>Kyoto, Japan</p>
					</div>
				</div>
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Central Park</h4>
						<p>New York, United States</p>
					</div>
				</div>
				<div class="side-dest-block" style="background-image:url(http://placehold.it/156x156)">
					<div class="side-dest-ttl">
						<h4>Ouzoud Falls</h4>
						<p>Morocco</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="post-block post-side-block">
		<div class="post-side-top">
			<h3 class="side-ttl">Top places</h3>
			<div class="side-right-control">
				<a href="#" class="see-more-link">See more</a>
			</div>
		</div>
		<div class="post-side-inner">
			<div class="side-place-block">
				<div class="side-place-top">
					<div class="side-place-avatar-wrap">
						<img src="http://placehold.it/46x46" alt="">
					</div>
					<div class="side-place-txt">
						<a class="side-place-name" href="#">Disneyland</a>
						<div class="side-place-description">
							<b>Park</b> in Wyoming, United States of America
						</div>
					</div>
				</div>
				<ul class="side-place-image-list">
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
				</ul>
				<div class="side-place-bottom">
					<div class="side-follow-info">
						<b>642</b> Following this place
					</div>
					<button type="button" class="btn btn-light-grey btn-bordered">Follow</button>
				</div>
			</div>
			<div class="side-place-block">
				<div class="side-place-top">
					<div class="side-place-avatar-wrap">
						<img src="http://placehold.it/46x46" alt="">
					</div>
					<div class="side-place-txt">
						<a class="side-place-name" href="#">Statue of Liberty</a>
						<div class="side-place-description">
							<b>Sculpture</b> in New York, United States of America
						</div>
					</div>
				</div>
				<ul class="side-place-image-list">
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
				</ul>
				<div class="side-place-bottom">
					<div class="side-follow-info">
						<b>642</b> Following this place
					</div>
					<button type="button" class="btn btn-light-primary btn-bordered">Following</button>
				</div>
			</div>
			<div class="side-place-block">
				<div class="side-place-top">
					<div class="side-place-avatar-wrap">
						<img src="http://placehold.it/46x46" alt="">
					</div>
					<div class="side-place-txt">
						<a class="side-place-name" href="#">Yellowstone National Park</a>
						<div class="side-place-description">
							<b>Park</b> in United States of America
						</div>
					</div>
				</div>
				<ul class="side-place-image-list">
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
					<li>
						<img src="http://placehold.it/79x75" alt="photo">
					</li>
				</ul>
				<div class="side-place-bottom">
					<div class="side-follow-info">
						<b>642</b> Following this place
					</div>
					<button type="button" class="btn btn-light-grey btn-bordered">Follow</button>
				</div>
			</div>
		</div>
	</div>

	<div class="post-block post-side-block">
		<div class="post-side-top">
			<h3 class="side-ttl">Stories</h3>
			<div class="side-right-control">
				<a href="#" class="slide-link slide-prev">
					<i class="trav-angle-left"></i>
				</a>
				<a href="#" class="slide-link slide-next">
					<i class="trav-angle-right"></i>
				</a>
			</div>
		</div>
		<div class="post-side-inner">
			<div class="post-slide-wrap">
				<ul id="storySlider" class="post-slider">
					<li>
						<img src="http://placehold.it/325x174" alt="">
						<div class="post-slider-caption">
							<a class="post-slide-name" href="#">4 Days from Morocco to Japan</a>
							<div class="post-slide-description">
								When I get the idea of going to japan I was thinking
							</div>
						</div>
					</li>
					<li>
						<img src="http://placehold.it/325x174" alt="">
						<div class="post-slider-caption">
							<a class="post-slide-name" href="#">4 Days from Morocco to Japan</a>
							<div class="post-slide-description">
								When I get the idea of going to japan I was thinking
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<app-side-footer></app-side-footer>
</aside>